<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h3>Sign up for our newsletter to find out what's baking.</h3>
          <form class="" action="/" method="post">
            <input type="text" name="email" value=""></input>
            <input type="submit" name="" value="Submit"></input>
          </form>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row footer-links">
        <div class="col-sm-3"></div>
        <div class="col-sm-2 nav-link-box">
          <a href="/cookies">COOKIES</a><br>
          <a href="/muffins">MUFFINS</a><br>
          <a href="/cakes">CAKES</a>
        </div>
        <div class="col-sm-2 nav-link-box">
          <p>90 John Street 404</p>
          <p>New York, NY 10038</p>
          <p>(844) 322 - 2633</p>
        </div>
        <div class="col-sm-2 nav-link-box">
          <p>MON - FRI 6 - 8</p>
          <p>SATURDAY  8 - 6</p>
          <p>SATURDAY CLOSED</p>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="end">
        <p>EMMAS BAKERY by Ahmet Guclu &copy;2018</p>
      </div>
    </div>
  </div>
</footer>
