
<div class="container card-title">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2><u>ABOUT US</u></h2>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<div class="card">
  <div class="container">
    <div class="row address">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p>Founded in 2018, EMMA'S Bakery opened its first location in downtown Manhattan. Our mission is to source ingredients locally and responsibly, focusing on a rotating menu. To find out what's fresh, come drop in and visit us or subscribe to our newsletter below.</p>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
