<div class="container card-title">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2><u>MUFFINS</u></h2>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <% $muffins.each do |muffin| %>
      <div class="col-sm-2 product"><img src=<%= muffin.image%>></img><h3><%= muffin.description %></h3><p><%= muffin.cost %><p></div>
      <% end %>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
