<nav>
  <div id="nav">
    <div class="nav-container">
      <a href="/" id="logo">EMMA'S</a>
      <div id="nav-links">
        <a href="/cookies">COOKIES</a>
        <a id="navcenter" href="/muffins">MUFFINS</a>
        <a href="/cakes">CAKES</a>
      </div>
    </div>
  </div>
</nav>
