body {
  font-family: 'Roboto Slab', serif;
  background-color: lightgrey;
}

#nav , #logo, #nav-links, .product img, .end {
  margin-left: auto;
  margin-right: auto;
}

#nav a, #footer, .footer-links a:link , input[type="submit"]{
  color: whitesmoke;
}

#nav a, .card-title, .product, .address p, .end {
  text-align: center;
}

#nav, #logo, #navcenter, #nav-links, input[type="submit"] {
  transition: 0.4s;
}

#nav {
  overflow: hidden;
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("images/cover_image.jpg") no-repeat;
  background-size:cover;
  background-position: center;
  padding: 150px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  font-size: 15px;
  box-shadow: 1px 10px 10px darkgrey;
}

#nav a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

#nav #logo {
  font-family: 'Kumar One Outline', cursive;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 5px;
}

#nav a:hover {
  color: white;
  font-weight: bold;
}

#navcenter {
  margin: 0px 30px;
}

#nav-links {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid whitesmoke;
}

#footer {
  width: 100%;
  padding: 5vh 0 1vh 0;
  background-color: #333;
}

#footer h3 {
  text-align: left;
  font-size: 1.3em;
  margin-bottom: 1rem;
}

@media (max-width: 767.98px) {
  #footer h3 {
    font-size: .7em;
  }
  .footer-links p , .footer-links a {
    font-size: .5em;
  }
  .nav-link-box {
    width: 33%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #footer h3 {
    font-size: .8em;
  }
  .footer-links p , .footer-links a {
    font-size: .6em;
  }
}

@media (max-width: 991.98px) {
  #footer h3 {
    font-size: .9em;
  }
}

@media (max-width: 1199.98px) {
  #footer h3 {
    font-size: 1em;
  }
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  border: none;
  fontsize: .5em;
  box-shadow: 5px 5px 5px lightgrey inset;
}

input[type="submit"] {
  width: 30%;
  background-color: #000;
  border: none;
  margin-left: 5%;
  padding: 10px;
  fontsize: .5em;
}

input[type="submit"]:hover{
  background-color: whitesmoke;
  color: #333;
}

.nav-link-box {
  text-align: left;
  font-size: .5em;
  font-size: .7em;
}

.footer-links a:link {
  text-decoration: none;
}

.footer-links {
  margin-top: 2rem;
}

.footer-links p {
  margin-bottom: .2rem;
}

.footer-links a:hover {
  font-weight: bold;
}

.footer-links p , .footer-links a {
}

.nav-container {
  display: grid;
  justify-content: center;
}

.card {
  width: 100%;
  padding: 5vh 0px;
  margin-top: 5vh;
  margin-bottom: 20vh;
  background-color: whitesmoke;
  box-shadow: 1px 10px 10px darkgrey;
}

.card-title {
  margin-top: 55vh;
}

.card-title h2 {
  font-size: 1.3em;
}

.product {
  display: grid;
  justify-content: center;
}

.product h3 {
  font-size: 1em;
}

.product p {
  font-size: 1em;
  font-weight: bold;
}

.product img {
  width: 100%;
  height: auto;
}

.address p {
  margin-bottom: 0px;
}

.end {
  margin: 1rem;
  color: grey;
  font-size: .7em;
}
