<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline|Roboto+Slab" rel="stylesheet">
<style>
body {
  background-color: #333;
  color: #f5f5f5;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'Kumar One Outline', cursive;
}
</style>
</head>
<body>
  <br>
  <h1 style="text-align:center;font-size:55px;margin-bottom:10px;"><u>EMMA'S</u></h1>
  <div style="text-align:center;">
    <p style="margin-bottom:0px;">90 John Street 404</p>
    <p style="margin-bottom:0px;">New York, NY 10038</p>
    <p style="margin-bottom:0px;">(844) 322 - 2633</p>
  </div>
  <br>
  <br>
  <div style="width:100%;text-align:center;">
    <h3><u>COOKIES:</u> $3</h3>
    <% $cookies.each do |cookie| %>
    <div><h3><%= cookie.description %></h3></div>
    <% end %>
    <br>
    <h3><u>MUFFINS:</u> $4</h3>
    <% $muffins.each do |muffin| %>
    <div><h3><%= muffin.description %></h3></div>
    <% end %>
    <br>
    <h3><u>CAKES:</u> $5</h3>
    <% $cakes.each do |cake| %>
    <div><h3><%= cake.description %></h3></div>
    <% end %>
  </div>
  <br>
  <br>
</body>
</html>
